// 颜色定义规范
$white: #fff;
$cutoff: #eeeff0;
$theme: #e5463b;
$text-defalut: #2c2c2d;
$sub-text: rgba(19, 19, 19, 1);
$border-white: rgb(241, 241, 241);
$mark-white: rgb(241, 241, 241);
$grey1: #757575; 
$grey2: #6d6d6d; 
$color-background: rgb(184, 199, 214);
$color-background-d: rgba(0, 0, 0, 0.3);
$color-highlight-background: rgb(253, 108, 98);
$color-dialog-background: rgb(204, 204, 204);
$color-theme-g: rgb(219, 219, 219);
$color-sub-theme: rgb(240, 116, 107);
$color-text-gg: rgb(219, 219, 219); 
$color-text-lm: rgb(228, 228, 228);
$color-text-ll: rgba(255, 255, 255, 0.8);